---
---

// Google Fonts
@import url(http://fonts.googleapis.com/css?family=Special+Elite:400italic,700italic,400,700);
$base-font-family: "Special Elite" !default;
// Styles
body {
  font-family: $body-font;
  font-weight: normal;
}
h1, h2, h3, h4, h5, h6 {
  font-family: $header-font;
  font-weight: normal;
}
